@using sozluk.Models.entity
@{ MultilingualDictionaryEntities db = new MultilingualDictionaryEntities();}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="margin: 0; padding: 0; " href="#">
                    @{
                        var img = db.Logo.Where(m => m.IsActive == true).FirstOrDefault();
                        if (img == null)
                        {
                            <img src="~/image/defalutlovalogo.png" alt="defaultImg" style="height:auto; width:auto; max-height:100%;">
                        }
                        else
                        {
                            var base64 = Convert.ToBase64String(img.LogoImage);
                            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                            <img src=@imgsrc alt="img" style="height:auto; width:auto; max-height:100%;">
                        }
                    }
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Çeviri", "Search", "Home")</li>
                    <li>@Html.ActionLink("Hakkımızda", "About", "Home")</li>
                    <li>@Html.ActionLink("İletişim", "Contact", "Home")</li>
                    @{
                        string a = Session["isAdmin"].ToString();
                        string u = Session["LoggedCustomer"].ToString();
                        if (a == "admin")
                        {
                            <li>
                                @Html.ActionLink("Yönetici Paneli", "AdminPanel", "Home")
                            </li>
                        }
                    }
                    <li><label class="navbar-text" style="margin-left:400px">@u</label></li>
                    <li>@Html.ActionLink("Oturum Kapat", "Logout", "Authentication")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Lova Çeviri</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
